* {
  font-family: 'Roboto', sans-serif;
}

.text-gray {
  color: #636363;
}

.text-grayv1 {
  color: #4f4f4f;
}

.max-w-fit {
  max-width: fit-content;
}

.cursor-pointer {
  cursor: pointer;
}

.ml-auto {
  margin-left: auto;
}


.underline {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

.fs-7 {
  font-size: 0.8rem;
}

.fs-accent {
  font-size: 0.9rem;
}

.text-accent {
  color: #da70d6;
}

.bg-grayv1 {
  background-color: #f3f1f1;
}

.truncate-username {
  max-width: 65px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}